[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
