# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folder
build/
build_tidy/
PythonBuild/build/
PythonBuild/dist/
PythonBuild/TensorFrost.egg-info/
PythonBuild/TensorFrost/*
!PythonBuild/TensorFrost/__init__.py
dist/
temp/
.vscode/settings.json
vc140.pdb
imgui.ini
examples/Algorithms/mnist.npz
*.npz
examples/ML/mnist.npz
/cmake-build-debug-visual-studio
/.idea
/cmake-build-release-visual-studio
